<div class="section-spacing">
  <div class="row">
    <div class="small-12 columns">
      <div class="myaccount--header">
        <p>
          {{ 'customer.account.refund.main_text' | t }} <a href="{{ pages['retours-echanges'].url }}"><u>{{ 'customer.account.refund.link_text' | t }}</u></a>{{ 'customer.account.refund.end_text' | t }}
        </p>

        <p>
          <a href="{{ pages['retours-echanges'].url }}" class="myaccount--link">
            <span class="text-button">{{ 'customer.account.menu.refund' | t }}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
