{{ 'product-card.css' | asset_url | stylesheet_tag }}

{%- if product_card_product and product_card_product != empty -%}
  {% liquid
    assign products_hover_images = settings.products_hover_images
    assign products_hover_images_count = settings.products_hover_images_count
    assign product_aspect_ratio = settings.product_aspect_ratio
    assign featured_media = product_card_product.featured_media
    assign ratio = 1
    assign sizes = '375x375,770x770'
    assign show_price = show_price
    assign columns_desktop = columns_desktop
    assign mobile_swipe = mobile_swipe
    if featured_media.media_type != 'image'
      assign featured_media = featured_media.preview_image
    endif
    if product_aspect_ratio == 'adapt'
      assign ratio = featured_media.aspect_ratio
      assign sizes = '375x0,770x0'
    elsif product_aspect_ratio == 'portrait'
      assign ratio = 1 | divided_by: 1.25
      assign sizes = '375x350,770x700'
    elsif product_aspect_ratio == 'landscape'
      assign ratio = 1 | divided_by: 0.75
      assign sizes = '375x250,770x500'
    endif
    if wide
      assign ratio = 2.0
    endif

    if product_card_ratio
      assign ratio = product_card_ratio
    endif

    assign product_content_alignment = settings.product_content_alignment

    assign is_purchasable = false
    if product_card_product.available and product_card_product.variants.size == 1
      assign is_purchasable = true
    endif
    assign all_products = product_card_product.metafields.repetto.other_color_products.value
  -%}

  <product-card class="product-card text-{{ product_content_alignment }}" data-mobile_swipe="enabled">
  {% comment %} <product-card class="product-card text-{{ product_content_alignment }}"> {% endcomment %}
      {% comment %}
      <div class="color-count">{{ 'products.product.available' | t: count: option.values.size }}</div>
    {% endcomment %}
    <figure class="product-featured-image{% if products_hover_images and product_card_product.images.size > 1 and products_hover_images_count > 0 %} thb-hover{% endif %}">
      {% comment %}
        {% render 'product-card-badge', product_card_product: product_card_product %}
      {% endcomment %}

      {% if product_card_product.available %}
        {% if product_card_product.metafields.repetto.label %}
          <div class="nouveautes-wrapper">
            <div class="text">
              {{ product_card_product.metafields.repetto.label | upcase }}
            </div>

            <div class="pink-circle"></div>
          </div>
        {% endif %}
      {% else %}
        <div class="nouveautes-wrapper">
          <div class="text">
            {% if product_card_product.metafields.repetto.soon_available %}
              {{'products.product.soon_available' | t | upcase}}
            {% else %}
              {{'products.product.out_of_stock' | t | upcase}}
            {% endif %}
          </div>
        </div>
      {% endif %}

      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}{% if columns_desktop == 3 %} width-33{% endif %}}"
      >
        <div class="carousel mobile-only" data-dots="enabled">
          {%- if product_card_product.images[0] -%}
            {%- if parent_context == 'third' %}
              <div id="thirdImage" class="carousel__slide product-primary-image">
                {%- render 'responsive-image',
                  class: '',
                  image: product_card_product.images[0],
                  sizes: sizes
                -%}
              </div>
            {%- else %}
              <div class="carousel__slide product-primary-image">
                {%- render 'responsive-image',
                  class: '',
                  image: product_card_product.images[0],
                  sizes: sizes
                -%}
              </div>
            {%- endif %}
          {%- else -%}
            <div class="thb-placeholder">
              {{ 'product-1' | placeholder_svg_tag }}
            </div>
          {%- endif -%}

          <div class='nothing-to-see-here' id='product-secondary-images'>
            {%- if products_hover_images and product_card_product.images.size > 1 -%}
              {%- liquid
                assign images_count = products_hover_images_count | minus: 1
              -%}
              {%- for i in (1..images_count) -%}
                {%- if product_card_product.images[i] -%}
                  <div class="carousel__slide product-secondary-image">
                    {%- render 'responsive-image',
                      class: '',
                      image: product_card_product.images[i],
                      sizes: sizes
                    -%}
                  </div>
                {%- endif -%}
              {%- endfor %}
            {%- endif -%}
          </div>
        </div>

        {%- if settings.enable_quick_view -%}
          <quick-view
            class="product-card-quickview"
            href="#Product-Drawer"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
          >
            <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
            <span>{{ 'products.product.quick_view' | t }}</span>
          </quick-view>
        {%- endif -%}

        <div class="product-nav-and-color-count">
          {%- if products_hover_images and product_card_product.images.size > 1 and settings.products_hover_dots -%}
            <div
              class="product-secondary-images-nav"
              id="product-secondary-images-nav"
            >
              {% assign navCount = products_hover_images_count | minus: 1 %}

              {%- for i in (1..navCount) -%}
                {%- liquid
                  assign idx = i | minus: 1
                -%}
                {%- if product_card_product.images[idx] -%}
                  <li></li>
                {%- endif -%}
              {%- endfor %}
            </div>
          {%- endif -%}
  
          {% if all_products.count > 1 %}
            <div class="color-count">
              {{ 'products.product.available' | t: count: all_products.count }}
            </div>
          {% endif %}
        </div>
      </a>
    </figure>

    <div class="product-card-info">
      {%- if settings.show_products_vendor -%}
        <div class="product-card-vendor">
          <a
            href="{{ product_card_product.url | within: collection }}"
            title="{{ product_card_product.title | escape }}"
          >
            {{- product_card_product.title | escape -}}
          </a>
        </div>
      {%- endif -%}

      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.metafields.repetto.color.value.value | escape }}"
        class="product-card-title product-card-title-capitalize"
      >
        {{- product_card_product.metafields.repetto.color.value.value -}}
      </a>

      {% if show_price %}
        {% unless product_card_product.handle contains 'carte-cadeau' %}
          {% render 'product-price', product: product_card_product %}
        {% endunless %}
      {% endif %}

      {% render 'product-card-swatch', product: product_card_product, sizes: sizes %}

      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div
          class="star-rating"
          style="--star-rating: {{ product_card_product.metafields.reviews.rating.value.rating }};"
        ></div>
      {%- endif -%}

      {%- if settings.enable_quick_add -%}
        {% if is_purchasable %}
          <button
            class="product-card--add-to-cart-button product-card--add-to-cart-button-simple button outline"
            data-product-id="{{ product_card_product.selected_or_first_available_variant.id }}"
            tabindex="-1"
            {% if product_card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>

            <span class="product-card--add-to-cart-text">
              {%- if product_card_product.selected_or_first_available_variant.available -%}
                {{- 'products.product.add_to_cart' | t -}}
              {%- else -%}
                {{- 'products.product.sold_out' | t -}}
              {%- endif -%}
            </span>
          </button>
        {% else %}
          <quick-view
            class="product-card--add-to-cart-button button outline"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
          >
            <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
            <span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
          </quick-view>
        {% endif %}
      {%- endif -%}
    </div>
  </product-card>
{%- else -%}
  {% comment %} style="--padding-bottom: {{ 1 | divided_by: 1 | times: 100 }}%;" {% endcomment %}
  <product-card class="product-card">
    <figure class="product-featured-image{% if settings.products_hover_images %} thb-hover{% endif %}">
      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
      >
        <div class="thb-placeholder">
          {{ 'product-1' | placeholder_svg_tag }}
        </div>

        <button
          class="product-card-quickview"
          href="#Product-Drawer"
          data-product-handle="{{ product_card_product.handle }}"
          tabindex="-1"
        >
          <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
          <span>{{ 'products.product.quick_view' | t }}</span>
        </button>
      </a>
    </figure>

    <div class="product-card-info">
      <div class="product-card-vendor">
        <a href="#" title="{{ 'onboarding.product_vendor' | t }}">{{ 'onboarding.product_vendor' | t }}</a>
      </div>

      <a
        href="#"
        title="{{ product_card_product.title | escape }}"
        class="product-card-title"
      >
        {{- 'onboarding.product_title' | t -}}
      </a>

      {% render 'product-price', product: product_card_product %}

      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div class="star-rating" style="--star-rating: 5;"></div>
      {%- endif -%}

      {%- if settings.enable_quick_add -%}
        <quick-view
          class="product-card--add-to-cart-button button outline"
          data-product-handle=""
          tabindex="-1"
          disabled
        >
          <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
          <span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
        </quick-view>
      {%- endif -%}
    </div>
  </product-card>
{%- endif -%}

<script>
  if ("{{display_type}}" !== '') {
    if ("{{display_type}}" == 'carousel') {
      // Check if the device is a mobile device
      if (window.matchMedia("(pointer: coarse)").matches) {
        // If a mobile device, remove the secondary image section from the DOM
        let product_secondary_images = document.getElementById('product-secondary-images');
        let product_secondary_images_nav = document.getElementById('product-secondary-images-nav')
        product_secondary_images.parentNode.removeChild(product_secondary_images);
        product_secondary_images_nav.parentNode.removeChild(product_secondary_images_nav);
      }
    }
  }
</script>
